
#slider { 
    overflow: hidden; 
    position: relative;
    top:-23.8px;
    left:-6px;
    height:500px;
    width:900px; 
}

@import url(https://fonts.googleapis.com/css?family=Istok+Web);
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
* {
  box-sizing: border-box;
}
body, figure { 
  margin: 0; background: #101010;
  font-family: Istok Web, sans-serif;
  font-weight: 100;
  text-align: center;
}
div#captioned-gallery { 
  width: 100%; overflow: hidden; 
}
figure.slider { 
  position: relative; width: 500%;
  font-size: 0; animation: 30s slidy infinite; 
}
figure.slider figure { 
  width: 20%; height: auto;
  display: inline-block;  position: inherit; 
}
.slider img{
  width: 100%;
  height:auto;
}
figure.slider figure figcaption { 
  position: absolute;
  bottom: 0px;
  background: rgba(0,0,0,0.4);
  color: #fff; width: 100%;
  font-size: 2rem; padding: .6rem; 
}

.about{
  
  position:relative;
  top:50px;
  left:40px;
  width:1400px;
  padding: 0px 0px;
  background-color: snow;
 
}

.abouttuieee{
  position:relative;
  top:25px;
}

.aboutieee .header{
  background-color: #2d56af;
  height:45px;
  color:white;
  font-size: 28px;
  text-align: center;
}
.abouttuieee .header{
  background-color: #2d56af;
  height:45px;
  color:white;
  font-size: 28px;
  text-align: center;
}
.aboutieee .text{
  padding: 30px 0px;
  font-size: 18px;
}
.abouttuieee .text{
  padding: 30px 0px;
  font-size: 18px;
}

.aboutieee .text a{
color:#2d56af;
}
