body{margin:0px;}
@keyframes slides {
0% { left: 0%; }
25% {left:0%;}
50% { left: -100%; }
75% {left:-100%;}
100%{left:-200%;}



}

#img1{
    
}
#img2{
  
}    
#img3{
   
}
#slider { 
    overflow: hidden; 
    position: relative;
    top:10px;
    left:9px;
    height:400px;
    width:870px;
    
}

 figure img {
      width:33%; float: left; 
    }

 figure { 
  position: relative;
  width: 303%;
  left: 0;
  margin:0px;
  animation: 10s slides infinite; 
}

h1{
    text-align:center;
    color:magenta;
}