.nbox{

    background-color:snow;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 600px;
    height: 500.6px;
    position: absolute;
    left:-7px;
    
}

.header{
    background-color:#2d56af;
    height: 37px;
    text-align: center;
    font-size: 20px;
    font-weight: 1000;
    color: white;
}

.content {
    width: 600px;
    height: 410px;
    text-align: center;
    overflow:hidden;
    margin: 0 auto;

    }
    .content a{
        color: black;
    }
    .content a:hover {
        
        color:grey;
    }